<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rathon.manatee.auth.mapper.UIComponentMapper">
    <!-- CONFIG -->
    <sql id="tableName">
        ui_components
    </sql>
    <sql id="searchCols">
        <where>
            FALSE
            <!-- TABLE COLUMNS -->
<!--            <if test="name != null">-->
<!--                OR <include refid="tableName" />.name ILIKE CONCAT('%', #{name}, '%')-->
<!--            </if>-->
        </where>
    </sql>
    <sql id="searchColsDto">
        <where>
            FALSE
            <!-- TABLE COLUMNS -->
<!--            <if test="name != null">-->
<!--                OR <include refid="tableName" />.name ILIKE CONCAT('%', #{name}, '%')-->
<!--            </if>-->
        </where>
    </sql>
    <sql id="sorting">
        ORDER BY
        <choose>
            <when test="sortColumn == 'id'">id</when>
            <!-- TABLE COLUMNS -->
        </choose>
        <choose>
            <when test="sortDirection == 'desc'">DESC</when>
            <otherwise>ASC</otherwise>
        </choose>
    </sql>
    <sql id="paging">
        <if test="size != null and offset != null">
            LIMIT #{size}
            OFFSET #{offset}
        </if>
    </sql>

<!--  ObjectMapper  -->

    <select id="findById" resultType="UIComponent">
        SELECT *
        FROM <include refid="tableName" />
        WHERE id = #{id}
    </select>

    <select id="findAll" resultType="UIComponent">
        SELECT *
        FROM <include refid="tableName" />
    </select>

    <select id="getPagedObjects" resultType="UIComponent">
        SELECT *
        FROM <include refid="tableName" />
        <include refid="sorting" />
        <include refid="paging" />
    </select>

    <select id="getCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM <include refid="tableName" />
    </select>


    <select id="search" resultType="UIComponent">
        SELECT *
        FROM <include refid="tableName" />
        <include refid="searchCols" />
        <include refid="sorting" />
        <include refid="paging" />
    </select>
    
    <select id="searchCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM <include refid="tableName" />
        <include refid="searchCols" />
    </select>


    <insert id="insert" parameterType="UIComponent" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO <include refid="tableName" /> (
        name, description
        ) VALUES (
        #{name}, #{description}
        )
    </insert>

    <update id="update" parameterType="UIComponent">
        UPDATE <include refid="tableName" /> SET
        name = #{name}, description = #{description}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM <include refid="tableName" />
        WHERE id = #{id}
    </delete>

    <!-- DIRECT DTO QUERIES -->

<!--    <select id="findByIdDto" resultMap="ObjectDtoMap">-->
<!--        <include refid="ObjectDtoSelect" />-->
<!--        WHERE id = #{id}-->
<!--    </select>-->

<!--    <select id="findAllDto" resultMap="ObjectDtoMap">-->
<!--        <include refid="ObjectDtoSelect" />-->
<!--        ORDER BY id-->
<!--    </select>-->

<!--    <select id="getPagedObjectsDto" resultMap="ObjectDtoMap">-->
<!--        <include refid="ObjectDtoSelect" />-->
<!--        <include refid="sorting" />-->
<!--        <include refid="paging" />-->
<!--    </select>-->

<!--    <select id="searchDto" resultMap="ObjectDtoMap">-->
<!--        <include refid="ObjectDtoSelect" />-->
<!--        <include refid="searchColsDto" />-->
<!--        <include refid="sorting" />-->
<!--        <include refid="paging" />-->
<!--    </select>-->

<!--    <select id="searchCountDto" resultType="java.lang.Integer">-->
<!--        SELECT COUNT(*)-->
<!--        <include refid="ObjectDtoJOIN" />-->
<!--        <include refid="searchColsDto" />-->
<!--    </select>-->
    
    
    <select id="findByPermissionId" resultType="UIComponent">
        SELECT * FROM ui_components
        WHERE id IN (
            SELECT component_id FROM ui_mapping
            WHERE permission_id = #{id}
        )
    </select>

    <insert id="mapPermissions" parameterType="map">
        WITH desired AS (
        SELECT #{id}::bigint AS component_id,
        unnest(ARRAY[
        <foreach collection="ids" item="item" separator=",">
            #{item}
        </foreach>
        ]::bigint[]) AS permission_id
        ),
        deleted AS (
        DELETE FROM ui_mapping um
        WHERE um.component_id = #{id}
        AND um.permission_id NOT IN (SELECT permission_id FROM desired)
        )
        INSERT INTO ui_mapping (component_id, permission_id)
        SELECT d.component_id, d.permission_id
        FROM desired d
        LEFT JOIN ui_mapping um
        ON um.component_id = d.component_id AND um.permission_id = d.permission_id
        WHERE um.component_id IS NULL
    </insert>

    <select id="checkUniqueName" resultType="java.lang.Boolean">
        SELECT NOT EXISTS (
        SELECT 1 FROM ui_components
        WHERE ui_components.name = #{name}
        LIMIT 1
        )
    </select>
</mapper>