<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rathon.manatee.community.mapper.BoardGroupMapper">
    <select id="findById" resultType="BoardGroup">
        SELECT * FROM board_groups WHERE id = #{id}
    </select>

    <select id="findAll" resultType="BoardGroup">
        SELECT * FROM board_groups
    </select>

    <select id="getChildGroups" resultType="BoardGroup">
        SELECT * FROM board_groups WHERE parent_id = #{id}
    </select>

    <insert id="insert" parameterType="BoardGroup" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO board_groups
        (name, parent_id)
        VALUES (#{name}, #{parentId})
    </insert>

    <update id="update" parameterType="BoardGroup">
        UPDATE board_groups SET
        name = #{name}, parent_id = #{parentId}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM board_groups WHERE id = #{id}
    </delete>
</mapper>