<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rathon.manatee.database.mapper.CompanyMapper">
<!--  CONFIG  -->
    <sql id="tableName">
        companies
    </sql>
    <sql id="searchCols">
        <where>
            FALSE
            <if test="name != null">
                OR <include refid="tableName" />.name ILIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="address != null">
                OR <include refid="tableName" />.address ILIKE CONCAT('%', #{address}, '%')
            </if>
            <if test="industryId != null">
                OR <include refid="tableName" />.industry_id = #{industryId}
            </if>
            <if test="registrationNumber != null">
                OR <include refid="tableName" />.registration_number ILIKE CONCAT('%', #{registrationNumber}, '%')
            </if>
        </where>
    </sql>
    <sql id="searchColsDto">
        <where>
            FALSE
            <if test="name != null">
                OR companies.name ILIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="address != null">
                OR companies.address ILIKE CONCAT('%', #{address}, '%')
            </if>
            <if test="industry != null">
                OR industries.name ILIKE CONCAT('%', #{industry}, '%')
            </if>
            <if test="registrationNumber != null">
                OR companies.registration_number ILIKE CONCAT('%', #{registrationNumber}, '%')
            </if>
        </where>
    </sql>
    <sql id="sorting">
        ORDER BY
        <choose>
            <when test="sortColumn == 'id'">companies.id</when>
            <when test="sortColumn == 'name'">companies.name</when>
            <when test="sortColumn == 'address'">companies.address</when>
            <when test="sortColumn == 'industry'">industries.name</when>
            <when test="sortColumn == 'registrationNumber'">companies.registration_number</when>
            <when test="sortColumn == 'unitCount'">unit_count</when>
            <when test="sortColumn == 'employeeCount'">employee_count</when>
        </choose>
        <choose>
            <when test="sortDirection == 'desc'">DESC</when>
            <otherwise>ASC</otherwise>
        </choose>
    </sql>
    <sql id="paging">
        <if test="size != null and offset != null">
            LIMIT #{size}
            OFFSET #{offset}
        </if>
    </sql>

<!--  ObjectMapper  -->

    <select id="findById" resultType="Company">
        SELECT *
        FROM <include refid="tableName" />
        WHERE id = #{id}
    </select>

    <select id="findAll" resultType="Company">
        SELECT *
        FROM <include refid="tableName" />
    </select>

    <select id="getPagedObjects" resultType="Company">
        SELECT *
        FROM <include refid="tableName" />
        <include refid="sorting" />
        <include refid="paging" />
    </select>

    <select id="getCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM <include refid="tableName" />
    </select>


    <select id="search" resultType="Company">
        SELECT *
        FROM <include refid="tableName" />
        <include refid="searchCols" />
        <include refid="sorting" />
        <include refid="paging" />
    </select>

    <select id="searchCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM <include refid="tableName" />
        <include refid="searchCols" />
    </select>


    <insert id="insert" parameterType="Company" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO <include refid="tableName" />
        (name, address, industry_id, registration_number)
        VALUES (#{name}, #{address}, #{industryId}, #{registrationNumber})
    </insert>

    <update id="update" parameterType="Company">
        UPDATE <include refid="tableName" /> SET
        name = #{name}, address = #{address}, industry_id = #{industryId}, registration_number = #{registrationNumber}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM <include refid="tableName" />
        WHERE id = #{id}
    </delete>

    <!-- DIRECT DTO QUERIES -->

    <select id="findByIdDto" resultMap="ObjectResultMap.CompanyDtoMap">
        <include refid="ObjectResultMap.CompanyDtoSelect" />
        WHERE companies.id = #{id}
    </select>

    <select id="findAllDto" resultMap="ObjectResultMap.CompanyDtoMap">
        <include refid="ObjectResultMap.CompanyDtoSelect" />
        ORDER BY companies.id
    </select>
    
    <select id="getPagedObjectsDto" resultMap="ObjectResultMap.CompanyDtoMap">
        <include refid="ObjectResultMap.CompanyDtoSelect" />
        <include refid="sorting" />
        <include refid="paging" />
    </select>

    <select id="searchDto" resultMap="ObjectResultMap.CompanyDtoMap">
        <include refid="ObjectResultMap.CompanyDtoSelect" />
        <include refid="searchColsDto" />
        <include refid="sorting" />
        <include refid="paging" />
    </select>

    <select id="searchCountDto" resultType="java.lang.Integer">
        SELECT COUNT(*)
        <include refid="ObjectResultMap.CompanyDtoJOIN" />
        <include refid="searchColsDto" />
    </select>

<!--  CompanyMapper  -->

</mapper>