<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rathon.manatee.database.mapper.EmployeeMapper">
    <!-- CONFIG -->
    <sql id="tableName">
        employees
    </sql>
    <sql id="searchCols">
        <where>
            FALSE
            <if test="unitId != null">
                OR <include refid="tableName" />.unit_id = #{unitId}
            </if>
            <if test="positionId != null">
                OR <include refid="tableName" />.position_id = #{positionId}
            </if>
            <if test="email != null">
                OR <include refid="tableName" />.email ILIKE CONCAT('%', #{email}, '%')
            </if>
            <if test="phone != null">
                OR <include refid="tableName" />.phone ILIKE CONCAT('%', #{phone}, '%')
            </if>
            <if test="username != null">
                OR <include refid="tableName" />.username ILIKE CONCAT('%', #{username}, '%')
            </if>
            <if test="dob != null">
                OR <include refid="tableName" />.dob = #{dob}
            </if>
            <if test="name != null">
                OR <include refid="tableName" />.name ILIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="roleType != null">
                OR <include refid="tableName" />.role_type = #{roleType}
            </if>
        </where>
    </sql>
    <sql id="searchColsDto">
        <where>
            FALSE
            <if test="company != null">
                OR companies.name ILIKE CONCAT('%', #{company}, '%')
            </if>
            <if test="unit != null">
                OR units.name ILIKE CONCAT('%', #{unit}, '%')
            </if>
            <if test="name != null">
                OR employees.name ILIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="position != null">
                OR positions.name ILIKE CONCAT('%', #{position}, '%')
            </if>
            <if test="email != null">
                OR employees.email ILIKE CONCAT('%', #{email}, '%')
            </if>
            <if test="phone != null">
                OR employees.phone ILIKE CONCAT('%', #{phone}, '%')
            </if>
            <if test="dob != null">
                OR employees.dob = #{dob}
            </if>
        </where>
    </sql>
    <sql id="sorting">
        ORDER BY
        <choose>
            <when test="sortColumn == 'id'">employees.id</when>
            <when test="sortColumn == 'company'">companies.name</when>
            <when test="sortColumn == 'unit'">units.name</when>
            <when test="sortColumn == 'name'">employees.name</when>
            <when test="sortColumn == 'position'">positions.name</when>
            <when test="sortColumn == 'email'">employees.email</when>
            <when test="sortColumn == 'phone'">employees.phone</when>
            <when test="sortColumn == 'dob'">employees.dob</when>
        </choose>
        <choose>
            <when test="sortDirection == 'desc'">DESC</when>
            <otherwise>ASC</otherwise>
        </choose>
    </sql>
    <sql id="paging">
        <if test="size != null and offset != null">
            LIMIT #{size}
            OFFSET #{offset}
        </if>
    </sql>

    <select id="findById" resultType="Employee">
        SELECT *
        FROM <include refid="tableName" />
        WHERE id = #{id}
    </select>

    <select id="findAll" resultType="Employee">
        SELECT *
        FROM <include refid="tableName" />
    </select>

    <select id="getPagedObjects" resultType="Employee">
        SELECT *
        FROM <include refid="tableName" />
        <include refid="sorting" />
        <include refid="paging" />
    </select>

    <select id="getCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM <include refid="tableName" />
    </select>

    <select id="search" resultType="Employee">
        SELECT *
        FROM <include refid="tableName" />
        <include refid="searchCols" />
        <include refid="sorting" />
        <include refid="paging" />
    </select>

    <select id="searchCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM <include refid="tableName" />
        <include refid="searchCols" />
        <include refid="sorting" />
        <include refid="paging" />
    </select>


    <insert id="insert" parameterType="Employee" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO <include refid="tableName" /> (
            name, unit_id, position_id, email, phone, username, dob, otp_enabled, bio_enabled, passwordless
        ) VALUES (
            #{name}, #{unitId}, #{positionId}, #{email}, #{phone}, #{username}, #{dob}, #{otpEnabled}, #{bioEnabled}, #{passwordless}
        )
    </insert>

    <update id="update" parameterType="Employee">
        UPDATE <include refid="tableName" /> SET
            name = #{name},
            unit_id = #{unitId},
            position_id = #{positionId},
            email = #{email},
            phone = #{phone},
            dob = #{dob},
            otp_enabled = #{otpEnabled},
            bio_enabled = #{bioEnabled},
            passwordless = #{passwordless}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM <include refid="tableName" />
        WHERE id = #{id}
    </delete>

    <!-- DIRECT DTO QUERIES -->

    <select id="findByIdDto" resultMap="ObjectResultMap.EmployeeDtoMap">
        <include refid="ObjectResultMap.EmployeeDtoSelect" />
        WHERE <include refid="tableName" />.id = #{id}
    </select>

    <select id="findAllDto" resultMap="ObjectResultMap.EmployeeDtoMap">
        <include refid="ObjectResultMap.EmployeeDtoSelect" />
        ORDER BY companies.id
    </select>

    <select id="getPagedObjectsDto" resultMap="ObjectResultMap.EmployeeDtoMap">
        <include refid="ObjectResultMap.EmployeeDtoSelect" />
        <include refid="sorting" />
        <include refid="paging" />
    </select>

    <select id="searchDto" resultMap="ObjectResultMap.EmployeeDtoMap">
        <include refid="ObjectResultMap.EmployeeDtoSelect" />
        <include refid="searchColsDto" />
        <include refid="sorting" />
        <include refid="paging" />
    </select>

    <select id="searchCountDto" resultType="java.lang.Integer">
        SELECT COUNT(*)
        <include refid="ObjectResultMap.EmployeeDtoJOIN" />
        <include refid="searchColsDto" />
    </select>

<!--    EmployeeMapper    -->

    <select id="findByUsername" resultType="Employee">
        SELECT * FROM employees WHERE employees.username = #{username}
    </select>

    <select id="findCompanyEmployeesDto" resultMap="ObjectResultMap.EmployeeDtoMap">
        <include refid="ObjectResultMap.EmployeeDtoSelect" />
        WHERE units.company_id = #{id}
        ORDER BY employees.id
    </select>

    <select id="findUnitEmployeesDto" resultMap="ObjectResultMap.EmployeeDtoMap">
        <include refid="ObjectResultMap.EmployeeDtoSelect" />
        WHERE employees.unit_id = #{id}
        ORDER BY employees.id
    </select>

    <select id="checkUniqueUsername" resultType="java.lang.Boolean">
        SELECT NOT EXISTS (
            SELECT 1 FROM employees
            WHERE employees.username = #{username}
            LIMIT 1
        )
    </select>

    <select id="findByGroupIdDto" resultMap="ObjectResultMap.EmployeeDtoMap">
        <include refid="ObjectResultMap.EmployeeDtoSelect"/>
        JOIN user_group_mapping ON employees.id = user_group_mapping.user_id
        WHERE user_group_mapping.group_id = #{id}
    </select>

    <insert id="mapGroups" parameterType="map">
        WITH desired AS (
        SELECT #{id}::bigint AS user_id,
        unnest(ARRAY[
        <foreach collection="ids" item="item" separator=",">
            #{item}
        </foreach>
        ]::bigint[]) AS group_id
        ),
        deleted AS (
        DELETE FROM user_group_mapping gm
        WHERE gm.user_id = #{id}
        AND gm.group_id NOT IN (SELECT group_id FROM desired)
        )
        INSERT INTO user_group_mapping (user_id, group_id)
        SELECT d.user_id, d.group_id
        FROM desired d
        LEFT JOIN user_group_mapping gm
        ON gm.user_id = d.user_id AND gm.group_id = d.group_id
        WHERE gm.user_id IS NULL
    </insert>
</mapper>