<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rathon.manatee.database.mapper.EmployeeMapper">
    <sql id="sorting">
        ORDER BY
        <choose>
            <when test="sortColumn == 'id'">e.id</when>
            <when test="sortColumn == 'company'">c.name</when>
            <when test="sortColumn == 'unit'">u.name</when>
            <when test="sortColumn == 'firstName'">e.first_name</when>
            <when test="sortColumn == 'lastName'">e.last_name</when>
            <when test="sortColumn == 'position'">p.name</when>
            <when test="sortColumn == 'email'">e.email</when>
            <when test="sortColumn == 'phone'">e.phone</when>
            <when test="sortColumn == 'dob'">e.dob</when>
        </choose>
        <choose>
            <when test="sortDirection == 'desc'">DESC</when>
            <otherwise>ASC</otherwise>
        </choose>
    </sql>
    <sql id="paging">
        <if test="size != null and offset != null">
            LIMIT #{size}
            OFFSET #{offset}
        </if>
    </sql>

    <select id="findById" resultMap="ObjectResultMap.EmployeeDtoMap">
        <include refid="ObjectResultMap.EmployeeDtoSql" />
        WHERE e.id = #{id}
    </select>

    <select id="findAll" resultMap="ObjectResultMap.EmployeeDtoMap">
        <include refid="ObjectResultMap.EmployeeDtoSql" />
        ORDER BY e.id
    </select>

    <select id="getPagedEmployees" resultMap="ObjectResultMap.EmployeeDtoMap">
        <include refid="ObjectResultMap.EmployeeDtoSql" />
        <include refid="sorting" />
        <include refid="paging" />
    </select>

    <select id="findByFirstname" resultMap="ObjectResultMap.EmployeeDtoMap">
        <include refid="ObjectResultMap.EmployeeDtoSql" />
        WHERE e.first_name = #{firstName}
        ORDER BY e.id
    </select>

    <select id="findByUsername" resultType="Employee">
        SELECT * FROM employees e WHERE e.username = #{username}
    </select>

    <select id="findByLastname" resultMap="ObjectResultMap.EmployeeDtoMap">
        <include refid="ObjectResultMap.EmployeeDtoSql" />
        WHERE e.last_name = #{lastName}
        ORDER BY e.id
    </select>

    <insert id="insert" parameterType="Employee" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO employees (
            first_name, last_name, unit_id, position_id, email, phone, dob
        ) VALUES (
            #{firstName}, #{lastName}, #{unitId}, #{positionId}, #{email}, #{phone}, #{dob}
        )
    </insert>

    <update id="update" parameterType="Employee">
        UPDATE employees SET
            first_name = #{firstName},
            last_name = #{lastName},
            unit_id = #{unitId},
            position_id = #{positionId},
            email = #{email},
            phone = #{phone},
            dob = #{dob}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM employees WHERE id = #{id}
    </delete>

    <select id="search" resultMap="ObjectResultMap.EmployeeDtoMap">
        <include refid="ObjectResultMap.EmployeeDtoSql" />
        <where>
            FALSE
            <if test="company != null">
                OR c.name ILIKE CONCAT('%', #{company}, '%')
            </if>
            <if test="unit != null">
                OR u.name ILIKE CONCAT('%', #{unit}, '%')
            </if>
            <if test="lastName != null">
                OR e.last_name ILIKE CONCAT('%', #{lastName}, '%')
            </if>
            <if test="firstName != null">
                OR e.first_name ILIKE CONCAT('%', #{firstName}, '%')
            </if>
            <if test="position != null">
                OR p.name ILIKE CONCAT('%', #{position}, '%')
            </if>
            <if test="email != null">
                OR e.email ILIKE CONCAT('%', #{email}, '%')
            </if>
            <if test="phone != null">
                OR e.phone ILIKE CONCAT('%', #{phone}, '%')
            </if>
            <if test="dob != null">
                OR e.dob = #{dob}
            </if>
        </where>
        <include refid="sorting" />
        <include refid="paging" />
    </select>

    <select id="searchAll" resultMap="ObjectResultMap.EmployeeDtoMap">
        <include refid="ObjectResultMap.EmployeeDtoSql" />
        WHERE
        LOWER(e.first_name) LIKE LOWER(CONCAT('%', #{query}, '%')) OR
        LOWER(e.last_name) LIKE LOWER(CONCAT('%', #{query}, '%')) OR
        LOWER(e.email) LIKE LOWER(CONCAT('%', #{query}, '%')) OR
        LOWER(e.phone) LIKE LOWER(CONCAT('%', #{query}, '%')) OR
        LOWER(u.name) LIKE LOWER(CONCAT('%', #{query}, '%')) OR
        LOWER(c.name) LIKE LOWER(CONCAT('%', #{query}, '%')) OR
        LOWER(p.name) LIKE LOWER(CONCAT('%', #{query}, '%'))
        ORDER BY e.id
    </select>

    <select id="getSearchCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM employees e
        LEFT JOIN units u ON u.id = e.unit_id
        LEFT JOIN positions p ON p.id = e.position_id
        LEFT JOIN companies c ON c.id = u.company_id
        <where>
            FALSE
            <if test="company != null">
                OR c.name ILIKE CONCAT('%', #{company}, '%')
            </if>
            <if test="unit != null">
                OR u.name ILIKE CONCAT('%', #{unit}, '%')
            </if>
            <if test="lastName != null">
                OR e.last_name ILIKE CONCAT('%', #{lastName}, '%')
            </if>
            <if test="firstName != null">
                OR e.first_name ILIKE CONCAT('%', #{firstName}, '%')
            </if>
            <if test="position != null">
                OR p.name ILIKE CONCAT('%', #{position}, '%')
            </if>
            <if test="email != null">
                OR e.email ILIKE CONCAT('%', #{email}, '%')
            </if>
            <if test="phone != null">
                OR e.phone ILIKE CONCAT('%', #{phone}, '%')
            </if>
            <if test="dob != null">
                OR e.dob = #{dob}
            </if>
        </where>
    </select>

    <select id="getCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM employees
    </select>

</mapper>