<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rathon.manatee.database.mapper.IndustryMapper">
    <select id="findById" resultType="Industry">
        SELECT * FROM industries WHERE id = #{id}
    </select>

    <select id="findAll" resultType="Industry">
        SELECT * FROM industries
    </select>

    <select id="search" resultType="Industry">
        SELECT * FROM industries WHERE name ILIKE CONCAT('%', #{query}, '%')
    </select>
    
    <insert id="insert" parameterType="Industry" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO industries (name) VALUES (#{name})
    </insert>

    <update id="update" parameterType="Industry">
        UPDATE industries SET name = #{name} WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM industries WHERE id = #{id}
    </delete>
</mapper>