<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rathon.manatee.database.mapper.PositionMapper">
    <select id="findById" resultType="Position">
        SELECT * FROM positions WHERE id = #{id}
    </select>

    <select id="findAll" resultType="Position">
        SELECT * FROM positions
    </select>

    <insert id="insert" parameterType="Position" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO positions (name) VALUES (#{name})
    </insert>

    <update id="update" parameterType="Position">
        UPDATE positions SET name = #{name} WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM positions WHERE id = #{id}
    </delete>
</mapper>