<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rathon.manatee.database.mapper.UnitMapper">
    <!-- CONFIG -->
    <sql id="tableName">
        units
    </sql>
    <sql id="searchCols">
        <where>
            (FALSE
            <if test="companyId != null">
                OR <include refid="tableName" />.company_id ILIKE CONCAT('%', #{companyId}, '%')
            </if>
            <if test="name != null">
                OR <include refid="tableName" />.name ILIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="typeId != null">
                OR <include refid="tableName" />.type_id ILIKE CONCAT('%', #{typeId}, '%')
            </if>
            <if test="code != null">
                OR <include refid="tableName" />.code ILIKE CONCAT('%', #{code}, '%')
            </if>
            <if test="parentId != null">
                OR <include refid="tableName" />.parent_id ILIKE CONCAT('%', #{parentId}, '%')
            </if>
            <if test="leaderId != null">
                OR <include refid="tableName" />.leader_id ILIKE CONCAT('%', #{leaderId}, '%')
            </if>
            ) AND NOT units.type_id = 1
        </where>
    </sql>
    <sql id="searchColsDto">
        <where>
            (FALSE
            <if test="name != null">
                OR units.name ILIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="company != null">
                OR companies.name ILIKE CONCAT('%', #{company}, '%')
            </if>
            <if test="type != null">
                OR unit_types.name ILIKE CONCAT('%', #{type}, '%')
            </if>
            <if test="code != null">
                OR units.code ILIKE CONCAT('%', #{code}, '%')
            </if>
            <if test="parent != null">
                OR parent.name ILIKE CONCAT('%', #{parent}, '%')
            </if>
            ) AND NOT units.type_id = 1
        </where>
    </sql>
    <sql id="sorting">
        ORDER BY
        <choose>
            <when test="sortColumn == 'id'">units.id</when>
            <when test="sortColumn == 'name'">units.name</when>
            <when test="sortColumn == 'company'">companies.name</when>
            <when test="sortColumn == 'type'">unit_types.name</when>
            <when test="sortColumn == 'code'">units.code</when>
            <when test="sortColumn == 'parent'">parent.name</when>
        </choose>
        <choose>
            <when test="sortDirection == 'desc'">DESC</when>
            <otherwise>ASC</otherwise>
        </choose>
    </sql>
    <sql id="paging">
        <if test="size != null and offset != null">
            LIMIT #{size}
            OFFSET #{offset}
        </if>
    </sql>

    <!--  ObjectMapper  -->

    <select id="findById" resultType="Unit">
        SELECT *
        FROM <include refid="tableName" />
        WHERE id = #{id}
    </select>

    <select id="findAll" resultType="Unit">
        SELECT *
        FROM <include refid="tableName" />
        <if test="root != null and root">
            WHERE NOT <include refid="tableName" />.type_id = 1
        </if>
    </select>

    <select id="getPagedObjects" resultType="Unit">
        SELECT *
        FROM <include refid="tableName" />
        WHERE NOT <include refid="tableName" />.type_id = 1
        <include refid="sorting" />
        <include refid="paging" />
    </select>

    <select id="getCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM <include refid="tableName" />
        WHERE NOT <include refid="tableName" />.type_id = 1
    </select>


    <select id="search" resultType="Unit">
        SELECT *
        FROM <include refid="tableName" />
        <include refid="searchCols" />
        <include refid="sorting" />
        <include refid="paging" />
    </select>

    <select id="searchCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM <include refid="tableName" />
        <include refid="searchCols" />
    </select>


    <insert id="insert" parameterType="Unit" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO <include refid="tableName" /> (
            company_id, name, type_id, code, parent_id, leader_id
        ) VALUES (
            #{companyId}, #{name}, #{typeId}, #{code}, #{parentId}, #{leaderId}
        )
    </insert>

    <update id="update" parameterType="Unit">
        UPDATE <include refid="tableName" /> SET
            company_id = #{companyId}, 
            name = #{name}, 
            type_id = #{typeId}, 
            code = #{code}, 
            parent_id = #{parentId}, 
            leader_id = #{leaderId}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM <include refid="tableName" />
        WHERE id = #{id}
    </delete>

    <!-- DIRECT DTO QUERIES -->

    <select id="findByIdDto" resultMap="ObjectResultMap.UnitDtoMap">
        <include refid="ObjectResultMap.UnitDtoSelect" />
        WHERE <include refid="tableName" />.id = #{id}
    </select>

    <select id="findAllDto" resultMap="ObjectResultMap.UnitDtoMap">
        <include refid="ObjectResultMap.UnitDtoSelect" />
        <if test="root == null or root == false">
            WHERE NOT <include refid="tableName" />.type_id = 1
        </if>
        ORDER BY id
    </select>

    <select id="getPagedObjectsDto" resultMap="ObjectResultMap.UnitDtoMap">
        <include refid="ObjectResultMap.UnitDtoSelect" />
        WHERE NOT <include refid="tableName" />.type_id = 1
        <include refid="sorting" />
        <include refid="paging" />
    </select>

    <select id="searchDto" resultMap="ObjectResultMap.UnitDtoMap">
        <include refid="ObjectResultMap.UnitDtoSelect" />
        <include refid="searchColsDto" />
        <include refid="sorting" />
        <include refid="paging" />
    </select>

    <select id="searchCountDto" resultType="java.lang.Integer">
        SELECT COUNT(*)
        <include refid="ObjectResultMap.UnitDtoJOIN" />
        <include refid="searchColsDto" />
    </select>

<!--  UnitMapper  -->

    <select id="findParent" resultMap="ObjectResultMap.UnitDtoMap">
        SELECT
            units.id,
            companies.id AS company_id,
            companies.name AS company_name,
            units.name,
            unit_types.id AS type_id,
            unit_types.name AS type_name,
            units.code,
            parent.id AS parent_id,
            parent.name AS parent_name,
            COALESCE(ch.children_count, 0) AS children_count,
            COALESCE(ecompanies.employee_count, 0) AS employee_count
        FROM units child
        LEFT JOIN units ON units.id = child.parent_id
        LEFT JOIN companies ON units.company_id = companies.id
        LEFT JOIN unit_types ON units.type_id = unit_types.id
        LEFT JOIN units parent ON units.parent_id = parent.id
        LEFT JOIN (
            SELECT ch.parent_id, COUNT(*) AS children_count
            FROM units ch
            GROUP BY ch.parent_id
        ) ch ON ch.parent_id = units.id
        LEFT JOIN (
            SELECT e.unit_id, COUNT(*) AS employee_count
            FROM employees e
            GROUP BY e.unit_id
        ) ec ON ecompanies.unit_id = units.id
        WHERE child.id = #{id} OR child.parent_id IS NOT NULL
    </select>

    <select id="findRootUnitsDto" resultMap="ObjectResultMap.UnitDtoMap">
        <include refid="ObjectResultMap.UnitDtoSelect" />
        WHERE units.type_id = 1
        ORDER BY units.id
    </select>

    <select id="findCompanyRootUnitDto" resultMap="ObjectResultMap.UnitDtoMap">
        <include refid="ObjectResultMap.UnitDtoSelect" />
        WHERE units.company_id = #{id} AND units.type_id = 1
        ORDER BY units.id
    </select>

    <select id="findCompanyUnitsDto" resultMap="ObjectResultMap.UnitDtoMap">
        <include refid="ObjectResultMap.UnitDtoSelect" />
        WHERE units.company_id = #{id}
        <if test="!root">
            AND NOT units.type_id = 1
        </if>
        ORDER BY units.id
    </select>

    <select id="findChildren" resultMap="ObjectResultMap.UnitDtoMap">
        <include refid="ObjectResultMap.UnitDtoSelect" />
        WHERE units.parent_id = #{id}
        ORDER BY units.id
    </select>

    <select id="checkUniqueCode" resultType="java.lang.Boolean">
        SELECT EXISTS (
            SELECT 1 FROM units
            WHERE units.code = #{code}
            LIMIT 1
        )
    </select>
</mapper>