<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<!DOCTYPE mapper-->
<!--        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"-->
<!--        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">-->

<!--<mapper namespace="com.rathon.manatee.core.mapper.ObjectMapper">-->
<!--    <sql id="table">&lt;!&ndash; TABLE NAME &ndash;&gt;</sql>-->
<!--    <sql id="sorting">-->
<!--        ORDER BY-->
<!--        <choose>-->
<!--            <when test="sortColumn == 'id'">id</when>-->
<!--            &lt;!&ndash; TABLE COLUMNS &ndash;&gt;-->
<!--        </choose>-->
<!--        <choose>-->
<!--            <when test="sortDirection == 'desc'">DESC</when>-->
<!--            <otherwise>ASC</otherwise>-->
<!--        </choose>-->
<!--    </sql>-->
<!--    <sql id="paging">-->
<!--        <if test="size != null and offset != null">-->
<!--            LIMIT #{size}-->
<!--            OFFSET #{offset}-->
<!--        </if>-->
<!--    </sql>-->

<!--    <select id="findById" resultType="java.lang.Object">-->
<!--        SELECT *-->
<!--        FROM <include refid="table" />-->
<!--        WHERE id = #{id}-->
<!--    </select>-->

<!--    <select id="findAll" resultType="java.lang.Object">-->
<!--        SELECT *-->
<!--        FROM <include refid="table" />-->
<!--    </select>-->

<!--    <select id="getPagedObjects" resultType="java.lang.Object">-->
<!--        SELECT *-->
<!--        FROM <include refid="table" />-->
<!--        <include refid="sorting" />-->
<!--        <include refid="paging" />-->
<!--    </select>-->

<!--    <select id="getCount" resultType="java.lang.Integer">-->
<!--        SELECT COUNT(*) FROM <include refid="table" />-->
<!--    </select>-->

<!--    <select id="search" resultType="java.lang.Object">-->
<!--        SELECT *-->
<!--        FROM <include refid="table" />-->
<!--        <where>-->
<!--            FALSE-->
<!--            <if test="name != null">-->
<!--                OR c.name ILIKE CONCAT('%', #{name}, '%')-->
<!--            </if>-->
<!--            &lt;!&ndash; TABLE COLUMNS &ndash;&gt;-->
<!--        </where>-->
<!--        <include refid="sorting" />-->
<!--        <include refid="paging" />-->
<!--    </select>-->

<!--    <insert id="insert" parameterType="java.lang.Object" useGeneratedKeys="true" keyProperty="id">-->
<!--        INSERT INTO <include refid="table" />-->
<!--        (&lt;!&ndash; TABLE COLUMNS &ndash;&gt;)-->
<!--        VALUES (&lt;!&ndash; #{OBJECT FIELDS} &ndash;&gt;)-->
<!--    </insert>-->

<!--    <update id="update" parameterType="java.lang.Object">-->
<!--        UPDATE <include refid="table" /> SET-->
<!--        &lt;!&ndash; TABLE COLUMNs = #{OBJECT FIELDS} &ndash;&gt;-->
<!--        WHERE id = #{id}-->
<!--    </update>-->

<!--    <delete id="delete" parameterType="long">-->
<!--        DELETE FROM <include refid="table" /> WHERE id = #{id}-->
<!--    </delete>-->

<!--    &lt;!&ndash; DIRECT DTO QUERIES &ndash;&gt;-->
<!--</mapper>-->