<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rathon.manatee.database.mapper.EmployeeMapper">

    <select id="findById" resultType="com.rathon.manatee.database.model.Employee">
        SELECT * FROM employees WHERE id = #{id}
    </select>

    <select id="findAll" resultType="com.rathon.manatee.database.model.Employee">
        SELECT * FROM employees
    </select>

    <select id="findByFirstname" resultType="com.rathon.manatee.database.model.Employee">
        SELECT * FROM employees WHERE first_name = #{firstName}
    </select>

    <select id="findByLastname" resultType="com.rathon.manatee.database.model.Employee">
        SELECT * FROM employees WHERE last_name = #{lastName}
    </select>

    <insert id="insert" parameterType="com.rathon.manatee.database.model.Employee" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO units (
            first_name, last_name, unit_id, position_id, email, phone, dob
        ) VALUES (
            #{firstName}, #{lastName}, #{unitId}, #{positionId}, #{email}, #{phone}, #{dob}
        )
    </insert>

    <update id="update" parameterType="com.rathon.manatee.database.model.Employee">
    UPDATE employees SET
        first_name = #{firstName},
        last_name = #{lastName},
        unit_id = #{unitId},
        position_id = #{positionId},
        email = #{email},
        phone = #{phone},
        dob = #{dob}
    WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM employees WHERE id = #{id}
    </delete>

</mapper>