<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rathon.manatee.database.mapper.EmployeeMapper">

    <select id="findById" resultMap="ObjectResultMap.EmployeeDtoMap">
        SELECT
            e.id,
            c.id AS company_id,
            c.name AS company_name,
            u.id AS unit_id,
            u.name AS unit_name,
            p.id AS position_id,
            p.name AS position_name,
            e.first_name,
            e.last_name,
            e.email,
            e.phone,
            e.dob,
            NULL AS null_col
        FROM employees e
        LEFT JOIN units u ON u.id = e.unit_id
        LEFT JOIN positions p ON p.id = e.position_id
        LEFT JOIN companies c ON c.id = u.company_id
        WHERE e.id = #{id}
    </select>

    <select id="findAll" resultMap="ObjectResultMap.EmployeeDtoMap">
        SELECT
            e.id,
            c.id AS company_id,
            c.name AS company_name,
            u.id AS unit_id,
            u.name AS unit_name,
            p.id AS position_id,
            p.name AS position_name,
            e.first_name,
            e.last_name,
            e.email,
            e.phone,
            e.dob,
            NULL AS null_col
        FROM employees e
        LEFT JOIN units u ON u.id = e.unit_id
        LEFT JOIN positions p ON p.id = e.position_id
        LEFT JOIN companies c ON c.id = u.company_id
        ORDER BY e.id
    </select>

    <select id="findByFirstname" resultMap="ObjectResultMap.EmployeeDtoMap">
        SELECT
            e.id,
            c.id AS company_id,
            c.name AS company_name,
            u.id AS unit_id,
            u.name AS unit_name,
            p.id AS position_id,
            p.name AS position_name,
            e.first_name,
            e.last_name,
            e.email,
            e.phone,
            e.dob,
            NULL AS null_col
        FROM employees e
        LEFT JOIN units u ON u.id = e.unit_id
        LEFT JOIN positions p ON p.id = e.position_id
        LEFT JOIN companies c ON c.id = u.company_id
        WHERE e.first_name = #{firstName}
        ORDER BY e.id
    </select>

    <select id="findByLastname" resultMap="ObjectResultMap.EmployeeDtoMap">
        SELECT
            e.id,
            c.id AS company_id,
            c.name AS company_name,
            u.id AS unit_id,
            u.name AS unit_name,
            p.id AS position_id,
            p.name AS position_name,
            e.first_name,
            e.last_name,
            e.email,
            e.phone,
            e.dob,
            NULL AS null_col
        FROM employees e
        LEFT JOIN units u ON u.id = e.unit_id
        LEFT JOIN positions p ON p.id = e.position_id
        LEFT JOIN companies c ON c.id = u.company_id
        WHERE e.last_name = #{lastName}
        ORDER BY e.id
    </select>

    <insert id="insert" parameterType="com.rathon.manatee.database.model.Employee" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO employees (
            first_name, last_name, unit_id, position_id, email, phone, dob
        ) VALUES (
            #{firstName}, #{lastName}, #{unitId}, #{positionId}, #{email}, #{phone}, #{dob}
        )
    </insert>

    <update id="update" parameterType="com.rathon.manatee.database.model.Employee">
    UPDATE employees SET
        first_name = #{firstName},
        last_name = #{lastName},
        unit_id = #{unitId},
        position_id = #{positionId},
        email = #{email},
        phone = #{phone},
        dob = #{dob}
    WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM employees WHERE id = #{id}
    </delete>

    <select id="searchAll" resultMap="ObjectResultMap.EmployeeDtoMap">
        SELECT
        e.id,
        c.id AS company_id,
        c.name AS company_name,
        u.id AS unit_id,
        u.name AS unit_name,
        p.id AS position_id,
        p.name AS position_name,
        e.first_name,
        e.last_name,
        e.email,
        e.phone,
        e.dob,
        NULL AS null_col
        FROM employees e
        LEFT JOIN units u ON u.id = e.unit_id
        LEFT JOIN companies c ON c.id = u.company_id
        LEFT JOIN positions p ON p.id = e.position_id
        WHERE
        LOWER(e.first_name) LIKE LOWER(CONCAT('%', #{query}, '%')) OR
        LOWER(e.last_name) LIKE LOWER(CONCAT('%', #{query}, '%')) OR
        LOWER(e.email) LIKE LOWER(CONCAT('%', #{query}, '%')) OR
        LOWER(e.phone) LIKE LOWER(CONCAT('%', #{query}, '%')) OR
        LOWER(u.name) LIKE LOWER(CONCAT('%', #{query}, '%')) OR
        LOWER(c.name) LIKE LOWER(CONCAT('%', #{query}, '%')) OR
        LOWER(p.name) LIKE LOWER(CONCAT('%', #{query}, '%'))
        ORDER BY e.id
    </select>

</mapper>