<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rathon.manatee.database.mapper.UnitMapper">

    <select id="findById" resultType="com.rathon.manatee.database.model.Unit">
        SELECT * FROM units WHERE id = #{id}
    </select>

    <select id="findWithCounts" resultType="com.rathon.manatee.database.dto.UnitDto">
        SELECT
            u.id AS id,
            c.name AS companyName,
            u.name AS name,
            t.name AS type,
            u.code AS code,
            p.name AS parentName,
            COUNT(e.id) AS employeeCount
        FROM units u
        LEFT JOIN companies c ON u.company_id = c.id
        LEFT JOIN unit_types t ON u.type_id = t.id
        LEFT JOIN units p ON u.parent_id = p.id
        LEFT JOIN employees e ON e.unit_id = u.id
        WHERE u.id = #{id} AND NOT u.type_id = 1
        GROUP BY u.id, u.name, c.name, t.name, p.name
    </select>

    <select id="findAll" resultType="com.rathon.manatee.database.model.Unit">
        SELECT * FROM units WHERE NOT type_id = 1
    </select>

    <select id="findAllWithCounts" resultType="com.rathon.manatee.database.dto.UnitDto">
        SELECT
            u.id AS id,
            c.name AS companyName,
            u.name AS name,
            t.name AS type,
            u.code AS code,
            p.name AS parentName,
            COUNT(e.id) AS employeeCount
        FROM units u
        LEFT JOIN companies c ON u.company_id = c.id
        LEFT JOIN unit_types t ON u.type_id = t.id
        LEFT JOIN units p ON u.parent_id = p.id
        LEFT JOIN employees e ON e.unit_id = u.id
        WHERE NOT u.type_id = 1
        GROUP BY u.id, u.name, c.name, t.name, p.name
        ORDER BY u.id
    </select>

    <select id="getParent" resultType="com.rathon.manatee.database.model.Unit">
        SELECT parent.* FROM units child LEFT JOIN units parent ON parent.id = child.parent_id WHERE child.id = #{id}
    </select>

    <select id="getChildren" resultType="com.rathon.manatee.database.dto.UnitDto">
        SELECT
            u.id AS id,
            c.name AS companyName,
            u.name AS name,
            t.name AS type,
            u.code AS code,
            p.name AS parentName,
            COUNT(e.id) AS employeeCount
        FROM units u
        LEFT JOIN companies c ON u.company_id = c.id
        LEFT JOIN unit_types t ON u.type_id = t.id
        LEFT JOIN units p ON u.parent_id = p.id
        LEFT JOIN employees e ON e.unit_id = u.id
        WHERE parent_id = #{id}
        GROUP BY u.id, u.name, c.name, t.name, p.name
        ORDER BY u.id
    </select>

    <select id="getEmployees" resultType="com.rathon.manatee.database.model.Employee">
        SELECT
            e.id AS id,
            c.name AS companyName,
            u.name AS unitName,
            e.first_name AS firstName,
            e.last_name AS lastName,
            p.name AS position,
            e.email AS email,
            e.phone AS phone,
            e.dob AS dob
        FROM employees e
        LEFT JOIN units u ON u.id = e.unit_id
        LEFT JOIN positions p ON p.id = e.position_id
        LEFT JOIN companies c ON c.id = u.company_id
        WHERE e.unit_id = #{id}
        GROUP BY e.id, c.name, u.name, p.name
        ORDER BY e.id
    </select>

    <insert id="insert" parameterType="com.rathon.manatee.database.model.Unit" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO units (company_id, name, type_id, code, parent_id) VALUES (#{companyId}, #{name}, #{typeId}, #{code}, #{parentId})
    </insert>

    <update id="update" parameterType="com.rathon.manatee.database.model.Unit">
        UPDATE units SET company_id = #{companyId}, name = #{name}, type_id = #{typeId}, code = #{code}, parent_id = #{parentId} WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM units WHERE id = #{id}
    </delete>

</mapper>